

@font-face {
    font-family: "Dancing";
    src: url(https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@100&display=swap);
    font-weight: bold;
}




body{
    background-color:#DCE0D9;
}

menu{
    max-width: 720px;
    background-color: #21897E;
    margin: auto;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
}

