#DCE0D9
#01161E
#FF206E
#2E86AB
#21897E

<style>
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@100&display=swap');
</style>



body{
    background-color:#DCE0D9;
}

.menu{
    max-width: 720px;
    background-color: #21897E;
    margin: auto;
}

h1{
    font-family: 'Dancing Script', Dancing,;
}