.container{
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .container red{
    background-color: #F2D7D5;
  }
  
  .container blue{
    background-color: #AED6F1;
  }
  
  h1{
    text-align: center;
  }
  
  h2{
    text-align: center;
  }
  